.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 600px;
    overflow: hidden; /* Assure que l'élément pseudo reste contenu */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/surfeur.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Applique le flou */
    z-index: -1; /* Place derrière le contenu de la bannière */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; /* Assure que le texte soit au-dessus de l'image floutée */
}

.banner h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



